---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";
$nav-background-color: #A02625;
$text-color: #000000;
$accent-color: #A02625;
@import "so-simple";
